.nav-bar a:link, a:visited, a:active{
    text-decoration: none;
}

.nav-bar{
    display: flex;
    height: 120px;
    width: 89.3%;
    justify-content: center;
    align-items: center;
    background-color: #590d22;
    flex: 1 1;
    padding: 0 4rem;
    font-size: 20px;
}

.nav-bar a{
    color: white;
}
.nav-bar a:hover{
    color: #ebe0c1;
}